/build*
/.vscode
.DS_Store
.idea
.run
.run/ChessTests.run.xml
cmake-build-debug
options.txt
bs
cbs
ts
cts
clean

CPlusPlusChess.code-workspace
standalone/.vscode/
standalone/build/
standalone/source/tempCodeRunnerFile.cpp
test/.vscode/
test/build/

